*, 
*:before, 
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
 
html {
  box-sizing: border-box;
  background: #EEEEEE;
  text-align: center;
}
 
@media screen and (max-width: 600px) {
    header p {
        text-indent: 0;
        margin-top: .5em;
    }
}

body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif; /* 880/16 */
    margin: 0 auto;
    padding: 0;
    color: #4A4A4A;
    background-image: url('../img/weather.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /background-position: center; 
    background-size: cover;
}
 
 .main-page{
    max-width: 43.75em;
    margin-left: auto;
    margin-right: auto;
 }

img {
    max-width: 100%;
    height: auto;    
}
 
a {
    color: inherit;
}

header {
    margin: 1em 0 2em;
    color: #4aa1f3;
}
 
    header h1 {
        font-family: 'Monotype Corsiva', serif;
        font-size: 3.5em; 
        text-shadow: 0 4px 2px rgba(0, 0, 0, .1);
        margin: 0;
        text-decoration: underline;
    }
 
        header h1 a {
            text-decoration: none;
        }
 
    header p {
        margin-top: -.625em;
        text-indent: 6.75em; /* indent slightly */
        text-shadow: 0 1px 0px rgba(0, 0, 0, .15);
        font-size: .875em; /* 14/16 */
    }

form {
    position: relative;
}
 
    form input{
        width: 100%;
        display: block;
        font-size: 1em;
        padding: .625em .85em;
        padding-right: 7em;
        line-height: 1.5;
        margin: 0;
        border: 1px solid #bbb;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset, 
                    0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 3px;
    }
 
        form input:focus {
            border-color: #298cda;
        }
 
    form button {
        text-decoration: none;
        background: #196E76;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.5;
        color: white;
        font-size: 1em;
        border-radius: 0 3px 3px 0;
        border: 0;
        outline: 0;
        text-align: center;
        -webkit-appearance: none;
        margin: 0;
        padding: 0 1em;
        font-family: 'Pacifico', serif;
    }
        form button:hover {
            cursor: pointer;
            text-decoration: underline;
        }
 
        form button:disabled {
            opacity: .5;
        }

.wrapper {
    margin: auto;
    text-align: left;
    height: 500px
}

.text-output{
    text-align: center;
}

.error{
    color: #4aa1f3;
    font-weight: bold;
}

.footer{
    background-color: #4aa1f3;
    width: 100%;
    height: 70px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.link{
    text-decoration: none;
}

.link-text{
    text-decoration: none;
}

.link-text:hover{
    text-decoration: underline;
    font-size: 1.1em;
}

h3{
    position: relative;
}